$fatten_shebang
set -e
set -u
_program_fattening_shebang='$fatten_shebang'
_program_fattening_program_path='$(core_compatibility_dirname "$fatten_originalProgram")'
_program_fattening_originalProgram='$fatten_originalProgram'
core_dependency_check_packageManagersWithPaths='CentOS Cygwin Debian Homebrew SusSE'

_program_fattening_program_name="$fatten_programName"
_program_fattening_program_version="$fatten_version"
_program_fattening_program_package_or_build="$fatten_packageOrBuild"
_program_fattening_program_written_by="$fatten_authors"
_program_fattening_program_libPath="$fatten_libPath"
_program_fattening_program_etcPath="$fatten_etcPath"
_program_fattening_program_varPath="$fatten_varPath"
